<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/css/simple-sidebar.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                </li>
                <li>
                    @*<a href="#">Dashboard</a>*@
                    <img src="~/img/userprofilepic.png" alt="User Profile picture" height="42" width="42">
                </li>
                
                <li>
                   @* @Html.ActionLink("Add Photo", "AddImage", "Image", new { ViewBag.AdminUser }, null)*@
                    <a href="@Url.Action("AddImage", "Image", new { ViewBag.Id }, null)">
                        <span class="glyphicon glyphicon-camera fa-fw"></span>
                        Add Photo
                    </a>
                </li>
                <li>
                    @*@Html.ActionLink("View", "Index", "Search")*@
                    <a href="@Url.Action("Index", "Search")">
                        <span class="glyphicon glyphicon-eye-open fa-fw"></span>
                        View
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Event")">
                        <span class="glyphicon glyphicon-time fa-fw"></span>
                        Event
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "About")">
                        <span class="glyphicon glyphicon-info-sign fa-fw"></span>
                        About
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Contact")">
                        <span class="glyphicon glyphicon-earphone fa-fw"></span>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @{
                            if (ViewBag.TitrlePage == "List of users ")
                            {
                                <h1>List of users</h1>
                            }
                            else if(ViewBag.TitrlePage == "Upload your photos ")
                            {
                                <h1>Upload your photos up to 15</h1>
                            }
                            else {
                                <h1>Dashboard</h1>
                            }
                        }
                     
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <style>
        div#sidebar-wrapper {
         background: #002699;
     }
    </style>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>



